## Datatypes

integers

In [1]:
4

4

variables

In [37]:
hello = 4

In [38]:
hello

4

lists

In [39]:
mylist = [1,2,3,3.4,'234%']

In [40]:
mylist

[1, 2, 3, 3.4, '234%']

In [45]:
print mylist

[1, 2, 3, 3.4, '234%']

indexing lists

In [41]:
mylist[0]

1

In [42]:
mylist[-1]

'234%'

In [43]:
mylist[-5]

1

slicing lists

In [44]:
mylist[1:4]

[2, 3, 3.4]

In [46]:
mylist[:3]

[1, 2, 3]

In [47]:
mystring = 'a line of text'

In [49]:
mystring

'a line of text'

In [50]:
print mystring

a line of text

In [51]:
mystring
mystring
mystring

'a line of text'

In [52]:
print mystring
print mystring
print mystring

a line of text
a line of text
a line of text

In [53]:
len(mystring)

14

In [54]:
list(mystring)

['a', ' ', 'l', 'i', 'n', 'e', ' ', 'o', 'f', ' ', 't', 'e', 'x', 't']

In [55]:
mystring[-4:]

'text'

In [56]:
alphabet = 'abcdefghijklmnopqrstuv'

In [25]:
5/2

2

In [26]:
5./2.

2.5

In [27]:
# comment code

In [28]:
#dictionary
#key:vlaue
my_dict = {'student1':'alex', 2:'paul'}

print my_dict

{'student1': 'alex', 2: 'paul'}

In [57]:
my_dict[0]

KeyError: 0

In [58]:
my_dict['student1']

'alex'

In [63]:
my_dict2 = {4152998000:'alex',4152998000:'paul', 4674456010:'paul' }

In [65]:
my_dict2.keys()

[4152998000, 4674456010]

In [67]:
#Arithemtic Operations
# +
# -
# /
# *
# %

num1 = 84.1
num2 = 34.4
str1 = 'vanessa'
str2 = 'grass'

In [68]:
num1 * num1

7072.8099999999995

In [70]:
#modulus gives remainder
11 % 10

1

In [71]:
54 % 10

4

In [72]:
str1 + str2

'vanessagrass'

In [73]:
str1 * 2

'vanessavanessa'

In [74]:
[1,2,3]*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [75]:
#numpy = numeric python

In [76]:
len(str1)

7

In [79]:
3^3

0

In [80]:
3**3

27